

*{
    margin: 0;
    padding: 0;
}
#navbar{
    
    align-items: center;
    position: relative;
    top: 0;
    height:70px;


  }
 #navbar ul{
   display: flex;
 }

#navbar::before{
   content:"";
   background-color: rgb(240, 239, 245);
   position: absolute;
   top:0;
   left:0;
   height: 100%;
   width: 100%;
   z-index:-1;
   /* opacity: 0.3;  */
}
#navbar  ul li{
   list-style:none;

    font-style:none; 
   font-size:1.3rem;
}

#navbar ul li a{
   color: rgb(227, 214, 214);
   padding:3px 22px;
   display:block;
   border-radius:60px;
   text-decoration:none;
}
#navbar ul li a:hover{
 color: rgb(12, 11, 15);
 background-color: white;
 
 }
#web{
 left:300px;
position: relative;
 list-style:none;
 font-style:none;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size:2.3rem;
}


.main_bg{

    
    background-image: url(sky.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.form{
    width: 650px;
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text p{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div span{
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    color: #fff;
    font-size: 25px;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit input{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: yellow !important;
    color: black !important;
    transition: all .3s;
}
#submit input:hover{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: black !important;
    color: #fff !important;
}
#submit input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}


@media screen and (max-width:710px) {
    .main-form{
        text-align: center;
    }
}
#btn{
    padding:10px;
    border:2px solid white;
    background-color:brown;
    color:white;
    margin: 15px;
    font-size: 1.rem;
    border-radius:3px;
    cursor: pointer;
  }