
body{
  content:'';
  background:url(cov.png) no-repeat;
  background-size: cover; 
  left:0;
  height:100%;
  width: 100%;
  z-index: -1;
  opacity: 1.3; 
  }

.center{
color:rgb(5, 243, 104);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:2.3rem; 
}

#button
{
margin-left: 45%;
margin-top: 32%;
text-align: center;
width: 10%;
height: 30px;
border-radius: 25%;
padding: -5px 10px;
border:2px solid white;
background-color:brown;
cursor: pointer;
}