/* Reset default margins and paddings */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    content: '';
    background: url(cover.png) no-repeat;
    background-size: cover;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.3;
}

.center {
    color: rgb(5, 243, 104);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.3rem;
}

#button {
    margin-left: 45%;
    margin-top: 32%;
    text-align: center;
    width: 10%;
    height: 30px;
    border-radius: 25%;
    padding: -5px 10px;
    border: 2px solid white;
    background-color: brown;
    cursor: pointer;
}

/* Media queries for iPhone XR portrait mode (screen width: 828px) */
@media screen and (max-width: 414px) {
    /* Adjust font sizes for smaller screens */
    .center {
        font-size: 1.8rem;
    }

    /* Center the button on smaller screens */
    #button {
        margin-left: 40%;
        margin-top: 20%;
        width: 20%;
    }
}
